  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <a href="/home"><img src="/imgs/icons8-nuke-50.png" alt="LFG LOGO" width="50" height="50"></a>
    <a class="pages" href="/home">HOME</a>
    <a class="pages" href="/posts/new">CREATE POST</a>
    <a class="pages" href="/posts">ALL POSTS</a>
    <% if (user) { %>
      <a class="pages" href="/profiles/<%= user.profile._id %>">MY PROFILE</a>
    <% } %>
    <% if (user) { %>
      <a href="/auth/logout" class="right">
        <button class="logout" type="submit">Logout</button>
      </a>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
        data-prompt_parent_id="g_id_onload"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="medium"
        data-theme="filled_black"
        data-text="signin"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
