<%- include('./partials/html-head') %>

<%- include('./partials/nav') %>

<link rel="stylesheet" href="/stylesheets/home.css">

<main>
  <div class="hero">
    <div class="hero-text">
      <h1>FIND YOUR DREAM TEAM</h1>
      <h2>SIGN IN AND START SEARCHING</h2>
    </div>
    <video class="video-bg" autoplay muted loop>
      <source src="/imgs/lfghero.mp4" type="video/mp4">
    </video>
  </div>
  <div class="container">
    <div class="cdlfg">
      <h1 class="cdlfgH1">C.D.L.F.G.</h1>
    </div>
    <div class="slogan">A PLACE TO FIND PLAYERS ON YOUR LEVEL TO HELP GET YOU TO THE NEXT</div>
    <div class="logo">
      <img src="/imgs/icons8-nuke-500.png" alt="CDLFG LOGO">
    </div>
    <div class="login">ENSURE YOU ARE LOGGED IN WITH GOOGLE TO BE ABLE TO CREATE AND RSPOND TO POST</div>
    <div class="filledcomplete">MAKE SURE ALL FORMS ARE FILLED OUT COMPLETELY INCLUDING ACTIVISION ID</div>
    <div class="aidhelp">FOR HELP GETTING YOUR A.I.D.&nbsp;<a href="https://afkgaming.com/esports/guide/how-to-find-your-activision-id-in-warzone-and-modern-warfare-2" target="_blank" rel="noopener noreferrer"> VISIT HERE </a></div>
  </div>
  
</main>

<%- include('./partials/footer') %>
