<%- include('./partials/html-head') %>

<%- include('./partials/nav') %>

<link rel="stylesheet" href="/stylesheets/style.css">

<main>
  <div class="hero">
    <div class="hero-text">
      <h1>FIND YOUR DREAM TEAM</h1>
      <h2>SIGN IN AND START SEARCHING</h2>
    </div>
    <video class="video-bg" autoplay muted loop>
      <source src="/imgs/lfghero.mp4" type="video/mp4">
    </video>
  </div>
  <div class="home">
    <h1>CoD: MW2 RANKED PLAY LFG</h1>
    <h2>BELOW ARE SOME RULES AND INFO FOR YOU</h2>
    <p>!! FIRST PLEASE MAKE SURE YOU HAVE SIGNED IN WITH GOOGLE, IF YOU ARE NOT SIGNED IN YOU WILL NOT BE ABLE TO CREATE OR REPLY TO POSTS !!</p>
    <p>!! SECOND MAKE SURE THE CREATE POST FORM IS FILLED OUT COMPLETELY INCLUDING FULL ACTIVISION I.D. IN GAMERTAG !!</p>
    <p>!! IF YOU DO NOT KNOW HOW TO FIND YOUR ACTIVISION ID PLEASE VISIT <a href="https://afkgaming.com/esports/guide/how-to-find-your-activision-id-in-warzone-and-modern-warfare-2" target="_blank" rel="noopener noreferrer"> THIS PAGE </a> !!</p>
  </div>
</main>

<%- include('./partials/footer') %>
