@font-face {
  font-family: Syne;
  src: url(syne.ttf);
}
@font-face {
  font-family: SpaceMono;
  src: url(/fonts/SpaceMono-Bold.ttf);
}

@font-face {
  font-family: raleway;
  src: url(/fonts/Raleway[wght].ttf);
}

.hero {
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0,0,0, .6);
  color: white;
  min-height: 50vh;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.hero-text{
  font-family: Syne;
  margin-bottom: 0;
  background: transparent;
  backdrop-filter: blur(10px);
}

.hero h1{
  padding: 0 25px 0 25px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 70px;
}

.video-bg{
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 100%;
  min-height: 100%;
}

.home {
  height: 100vh;
  background-color: rgb(30, 30, 30);
  backdrop-filter: blur(15px);
  width: 75%;
  color: white;
}

.container {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "cdlfg cdlfg cdlfg cdlfg"
    "logo logo slogan slogan"
    "logo logo . ."
    "login login . ."
    "filledcomplete filledcomplete . aidhelp";
}

.cdlfg { 
  width: 100%;
  justify-self: stretch;
  align-self: center;
  overflow: hidden;
  font-family: Raleway;
  font-weight: bold;
  grid-area: cdlfg;
  font-size: 275px;
  
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo { 
  grid-area: logo;
  justify-self: center;
  align-self: center;
}

.logo:hover{
  animation: spin 3s infinite;
}

.slogan { 
  grid-area: slogan;
  font-size: 45px;
  text-align: right;
}

.login { 
  grid-area: login;
  font-size: 45px;
  text-align: left;
}

.filledcomplete { 
  grid-area: filledcomplete;
  font-size: 40px;
  text-align: left;
}

.aidhelp { 
  grid-area: aidhelp;
  font-size: 35px;
  text-align: right;
}

