@font-face {
  font-family: Syne;
  src: url(/fonts/Syne[wght].ttf);
}
@font-face {
  font-family: SpaceMono;
  src: url(/fonts/SpaceMono-Bold.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(/fonts/Raleway[wght].ttf);
}

.hero {
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0,0,0, .6);
  color: white;
  min-height: 50vh;
  position: relative;
  overflow: hidden;
  position: static;
  width: 100%;
}

.hero-text{
  font-family: Syne;
  margin-bottom: 0;
  background: transparent;
  backdrop-filter: blur(10px);
}

.hero h1{
  padding: 0 25px 0 25px;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 70px;
}

.video-bg{
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 100%;
  min-height: 100%;
  padding-bottom: 0;
}

.home {
  height: 100vh;
  background-color: rgb(30, 30, 30);
  backdrop-filter: blur(15px);
  color: white;
}

.container {  
  display: grid;
  background-color: rgb(30, 30, 30);
  padding-top: 0;
  margin-top: -60;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "cdlfg cdlfg cdlfg cdlfg"
    "logo logo slogan slogan"
    "logo logo . ."
    "login login . ."
    "filledcomplete filledcomplete . aidhelp";
  position: sticky;
}

.cdlfg { 
  width: 100%;
  margin-bottom: 0px;
  overflow: hidden;
  justify-content: start;
  grid-area: cdlfg;
}

.cdlfgH1{
  font-family: Raleway;
  font-size:24.5vw;
  margin-top: -7.55vw;
  margin-left: -3.75vw;
  margin-bottom: 0;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo { 
  grid-area: logo;
  place-self: stretch stretch;
  margin-left: 2vw;
}

.logo-img {
  width: 75%;
  height: auto;
}

.logo-img:hover{
  animation: spin 3s infinite;
}

.slogan { 
  grid-area: slogan;
  font-family: Syne;
  font-size: 3.9vw;
  text-align: right;
  margin-right: 4.5vw;
}

.login { 
  grid-area: login;
  font-family: Syne;
  font-size: 4.5vw;
  justify-self: right;
  align-self: start;
  text-align: left;
  margin-left: 2vw;
}

.filledcomplete { 
  grid-area: filledcomplete;
  font-family: Syne;
  font-size: 3.5vw;
  text-align: left;
  margin-left: 2vw;
  align-self: end;
}

.aidhelp { 
  grid-area: aidhelp;
  font-family: Syne;
  font-size: 3vw;
  text-align: right;
  margin-right: 2vw;
  align-self: start;
}

.visit-here{
  color: #7CD577;
  text-decoration: none;
}

@media (min-width: 1280px) {
  .hero {
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0, .6);
    color: white;
    min-height: 50vh;
    position: sticky;
    overflow: hidden;
    height: 100vh;
    width: auto;
  }
  
  .hero-text{
    font-family: Syne;
    margin-bottom: 0;
    background: transparent;
    backdrop-filter: blur(10px);
  }
  
  .hero h1{
    padding: 0 15px 0 15px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 9vw;
  }
  
  .video-bg{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: translate(-50%,-50%);
    min-width: 100vw;
    min-height: 100vh;
    padding-bottom: 0;
  }
}

::-webkit-scrollbar{
  width: .5em;
}

::-webkit-scrollbar-track {
  background: rgb(30, 30, 30);
}

::-webkit-scrollbar-thumb{
  background: #7CD577;
}