@font-face {
  font-family: Syne;
  src: url(/fonts/Syne.ttf);
}
@font-face {
  font-family: SpaceMono;
  src: url(/fonts/SpaceMono-Bold.ttf);
}

@font-face {
  font-family: raleway;
  src: url(/fonts/Raleway.ttf);
}



.title { 
  font-family: Raleway;
  background: rgb(30,30,30);
  position: relative;
  margin-top: 85px;
  margin-left: -1vw;
  font-size:10vw;
  width: 100%;
  font-weight: 600;
  overflow: hidden;
  align-self: end;
  margin-bottom: 0;
}

.container {  
  font-family: syne;
  display: grid;
  height: 100%;
  background: rgb(30,30,30);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas:
    "post";
}

.post { 
  grid-area: post;
  align-self: start;
}

.postTitle{
  font-size: 4vw;
  font-weight: 600;
  font-family: Raleway;
}

details {
  background: rgb(30,30,30);
}

details[open] {
  padding-bottom: 10px;
  margin-left: 2vw;
}

details > summary {
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  list-style: none; 
  font-size: 2vw;
}

/* details[open] > summary {
  
} */

details > summary::after {
  font-size: larger;
  font-style: italic;
  content: "view";
  color: #7CD577;
}

details[open] > summary::after {
  font-style: italic;
  content: "hide";
  color: #7CD577;
}

details > summary::-webkit-details-marker {
  display: none;
}

.postUser{
  font-size: 3vw;
  font-weight: 400;
}

.postShow {
  font-size: 1.5vw;
  font-weight: 200;
}

.dets{
  text-decoration: none;
  color: #7CD577;
}