@font-face {
  font-family: Syne;
  src: url(/fonts/Syne.ttf);
}
@font-face {
  font-family: SpaceMono;
  src: url(/fonts/SpaceMono-Bold.ttf);
}

@font-face {
  font-family: raleway;
  src: url(/fonts/Raleway.ttf);
}

.postsIndexMain {
  height: 100vh;
  background-color: rgb(30, 30, 30);
  backdrop-filter: blur(15px);
  color: white;
  margin-top: 85px;
}

.postsIndex {
  font-family: SpaceMono;
  margin-top: 85px;
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 75px;
  border-bottom: 2px solid #424748;
}

.summary {
  display: flex;
  flex-direction: column;
}

.postTitle{
  font-size: 45px;
  font-weight: bolder;
}

details {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 15px;
  width: 750px;
  background: transparent;
  background-color: rgb(17, 17, 17);
  backdrop-filter: blur(15px);
  padding: 10px;
  border-radius: 4px;
}

details[open] {
  padding-bottom: 10px;
}

details > summary {
  display: flex;
  padding: 10px;
  border-radius: 4px;
  font-size: 24px;
  cursor: pointer;
  justify-content: space-between;
  list-style: none; 
}

/* details[open] > summary {
  
} */

details > summary::after {
  font-size: smaller;
  font-style: italic;
  display: flex;
  justify-content: right;
  align-items: center;
  content: "view";
  margin-left: 20px;
}

details[open] > summary::after {
  font-style: italic;
  content: "hide";
}

details > summary::-webkit-details-marker {
  display: none;
}