@font-face {
  font-family: Syne;
  src: url(/fonts/Syne[wght].ttf);
}
@font-face {
  font-family: SpaceMono;
  src: url(/fonts/SpaceMono-Bold.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(/fonts/Raleway[wght].ttf);
}


.container {
  font-family: Raleway;  
  width: 100%;
  height: 100%;
  background: rgb(30,30,30);
  margin-top: 85px;
  padding-bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas:
    "username username username"
    "actid . ."
    "bio bio editBtn";
}

.username { 
  grid-area: username;
  width: 100%;
  margin-bottom: 0px;
  overflow: hidden;
  justify-content: start;
  align-self: end;
}

.nameText{
  font-family: Raleway;
  font-size:10.5vw;
  overflow: hidden;
  margin-top: -3.15vw;
  margin-left: -1.75vw;
  margin-bottom: 0;
}

.actid{
  font-size: 2vw;
  margin-left: 2vw;
  font-weight: 600;
  font-family: Raleway;
}

.actidText{
  font-weight: 300;
  font-family: Syne;
}

.bio { 
  grid-area: bio;
  font-weight: 600;
  font-size: 3vw;
  margin-top: -0.7vw;
  place-self: start start;
  margin-left: 2vw;
}

.bioText {
  font-size: 2vw;
  font-weight: 300;
  margin-left: 2vw;
  font-family: Syne;
}

.editBtn{
  grid-area: editBtn;
  font-size: 3vw;
  margin-right: 2vw;
  place-self: end end;
}

.editBtn a{
  text-decoration: none;
  color: #7CD577;
}