<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/newPost.css" />
<%- include('../partials/nav') %>

<div class="container">
  <% if (user) { %>
    <form class="form" id="new-post" action="/posts" method="POST">
      <div class="postTitle">
        TITLE: <input type="text" name="title" id="title-input" autocomplete="off">
      </div>
      <div class="rank" for="rank-select">
        RANK:
        <select name="rank" id="rank-select">
          <option value="BRONZE">BRONZE</option>
          <option value="SILVER">SILVER</option>
          <option value="GOLD">GOLD</option>
          <option value="PLATINUM">PLATINUM</option>
          <option value="DIAMOND">DIAMOND</option>
          <option value="CRIMSON">CRIMSON</option>
          <option value="IRIDESCENT">IRIDESCENT</option>
          <option value="TOP 250">TOP 250</option>
        </select>
      </div>
      <div class="gamertag">
        GAMERTAG: <input type="text" name="gamertag" id="gamertag-input">
      </div>
      <div class="looking">
        LOOKING FOR:
        <select name="lookingFor" id="lookingFor-num">
          <option value='1' >1</option>
          <option value='2' >2</option>
          <option value='3' >3</option>
        </select>
      </div>
      <div class="mic">
        HAVE MIC: <input type="checkbox" name="mic" id="mic-checkbox">
      </div>
      <div class="moreInfo">
        EXTRAS: <input type="text" name="moreInfo" id="moreInfo-text">
      </div>
      <button class="postBtn" type="submit">POST</button>
    </form>
  <% } else { %>
    <h2>PLEASE RETURN <a class="return" href="/home">HOME</a> AND SIGN IN TO CREATE A POST</h2>
  <% } %>
  </div>

<%- include('../partials/footer') %>