<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/form.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <% if (user) { %>
    <form id="new-post" action="/posts" method="POST">
      <label for="title-input">TITLE:</label>
      <input type="text" name="title" id="title-input" autocomplete="off">
      <label for="rank-select">RANK:</label>
      <select name="rank" id="rank-select">
        <option value="BRONZE">BRONZE</option>
        <option value="SILVER">SILVER</option>
        <option value="GOLD">GOLD</option>
        <option value="PLATINUM">PLATINUM</option>
        <option value="DIAMOND">DIAMOND</option>
        <option value="CRIMSON">CRIMSON</option>
        <option value="IRIDESCENT">IRIDESCENT</option>
        <option value="TOP 250">TOP 250</option>
      </select>
      <label for="gamertag-input">GAMERTAG:</label>
      <input type="text" name="gamertag" id="gamertag-input">
      <label for="lookingFor-num">LOOKING FOR:</label>
      <select name="lookingFor" id="lookingFor-num">
        <option value='1' >1</option>
        <option value='2' >2</option>
        <option value='3' >3</option>
      </select>
      <label for="mic-checkbox">HAVE MIC:</label>
      <input type="checkbox" name="mic" id="mic-checkbox">
      <label for="moreInfo-text">EXTRAS:</label>
      <input type="text" name="moreInfo" id="moreInfo-text">
      <button type="submit">POST</button>
    </form>
  <% } else { %>
    <h2>PLEASE RETURN <a href="/home">HOME</a> AND SIGN IN TO CREATE A POST</h2>
  <% } %>
</main>

<%- include('../partials/footer') %>